.page__main {
    display: flex;
    flex-direction: column;
    gap: calc(64px + 24 * var(--norm-xs));
}

@media screen and (min-width: 786px) {
    .page__main {
        gap: calc(88px + 4 * var(--norm-s));
    }
}