.lead__image {
    margin: 0 calc(-16px - 8 * var(--norm-xs));
    width: calc(100% + 2 * calc(16px + 8 * var(--norm-xs)));
}

@media screen and (min-width: 768px) {
    .lead__image {
        margin: 0 calc(-24px + 24 * var(--norm-s));
        width: calc(100% + 2 * calc(24px - 24 * var(--norm-s)));
    }
}