.lead__subtitle {
    box-sizing: border-box;
    margin: 0;
    padding: 0 calc(16px - 16 * var(--norm-xs));
    max-width: 640px;
    width: 100%;
    line-height: calc(20px + 16 * var(--norm-xs));
    font-size: calc(1px * var(--fs-m) + (var(--fs-xxl) - var(--fs-m)) * var(--norm-xs));
    text-align: center;
    color: var(--clr-ntrl-ltr);
}