.cover {
    display: block;
    position: relative;
    margin: 0 calc(-16px - 8 * var(--norm-xs));
    text-decoration: none;
}

@media screen and (min-width: 768px) {
    .cover {
        margin: 0 calc(-24px - 24 * var(--norm-s));
    }
}

@media screen and (min-width: 1024px) {
    .cover {
        margin: 0 calc(-48px - 52 * var(--norm-m));
    }
}