.lead__caption {
    padding: 0;
    line-height: 14px;
    letter-spacing: 1.5px;
    font-size: calc(1px * var(--fs-xxs));
    font-weight: 400;
    color: var(--clr-ntrl-ltr);
    text-transform: uppercase;
}