.lead__caption {
    padding-left: calc(16px + 8 * var(--norm-xs));
    line-height: 14px;
    font-size: calc(1px * var(--fs-xxs));
    font-weight: 400;
    color: var(--clr-ntrl-ltr);
}

@media screen and (min-width: 768px) {
    .lead__caption {
        padding-left: calc(24px - 24 * var(--norm-s));
    }
}